{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block body %}
<h1>List Link</h1>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3 mb-lg-5">
        <div class="position-relative card table-nowrap table-card">
          <div class="card-header align-items-center">
            <h5 class="mb-0">List Link</h5>
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead class="small text-uppercase bg-body text-muted">
                <tr>
                  <th>Nama</th>
                  <th>Alamat</th>
                  <th>Status</th>
                  <th>Process</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                <tr class="align-middle">
                  <td>{{ item.name }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.status }}</td>
                  <td>
                    {% if item.process == 1 %} Barang sampai di toko {% elif
                    item.process == 2 %} Penimbangan {% elif item.process == 3
                    %} Pencucian {% elif item.process == 4 %} Pengeringan {%
                    elif item.process == 5 %} Setrika {% else %} Selesai {%
                    endif %}
                  </td>
                  <td class="w-100 d-flex gap-2">
                    <a href="/link/{{ item.url }}" class="btn btn-primary"
                      >Lihat</a
                    >
                    <a href="/customer/{{ item.id }}" class="btn btn-success"
                      >Edit</a
                    >
                    <form
                      action="/customer/{{ item.id }}"
                      method="post"
                      onsubmit="return confirm('Apakah Anda yakin ingin menghapus?')"
                    >
                      <input type="hidden" name="_delete" value="DELETE" />
                      <button type="submit" class="btn btn-danger">
                        Hapus
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer text-end">
            <a href="/add/link" class="btn btn-success">Tambah Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
