{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block body %}
<div class="container">
  <div class="text-center mt-5">
    <h1>Form tambah link</h1>
  </div>

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form
              method="post"
              action="/customer"
              id="contact-form"
              role="form"
            >
              <div class="controls">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="form_name">Nama</label>
                      <input
                        id="form_name"
                        type="text"
                        name="name"
                        class="form-control"
                        placeholder="Nama"
                        required
                        data-error="Firstname is required."
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="form_price">Harga</label>
                      <input
                        id="form_price"
                        type="text"
                        name="price"
                        class="form-control"
                        placeholder="Harga"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="form_email">Alamat</label>
                      <input
                        id="form_email"
                        type="text"
                        name="address"
                        class="form-control"
                        placeholder="Alamat"
                        required
                        data-error="Valid email is required."
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="form_need">Proses</label>
                      <select
                        id="form_need"
                        name="process"
                        class="form-control"
                        required
                        data-error="Please specify your need."
                      >
                        <option value="" selected disabled>Pilih Proses</option>
                        <option value="1">Barang sampai di toko</option>
                        <option value="2">Penimbangan</option>
                        <option value="3">Pencucian</option>
                        <option value="4">Pengeringan</option>
                        <option value="5">Setrika</option>
                        <option value="6">Selesai</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="form_phone">No HP</label>
                      <input
                        id="form_phone"
                        type="text"
                        name="phone"
                        class="form-control"
                        placeholder="No HP"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label for="form_need">Status</label>
                      <select
                        id="form_need"
                        name="status"
                        class="form-control"
                        data-error="Please specify your need."
                      >
                        <option value="" selected disabled>Pilih Status</option>
                        <option value="belum diambil">Belum diambil</option>
                        <option value="sudah diambil">Sudah diambil</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="form_message">Catatan</label>
                      <textarea
                        id="form_message"
                        name="notes"
                        class="form-control"
                        placeholder="Catatan"
                        rows="4"
                        data-error="Please, leave us a message."
                      ></textarea>
                    </div>
                  </div>

                  <div class="col-12">
                    <input
                      type="submit"
                      class="btn btn-success btn-send pt-2 btn-block w-100"
                      value="Buat Link"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.8 -->
    </div>
    <!-- /.row-->
  </div>
</div>

{% endblock %}
